{{#*inline "share-buttons"}}
<div class="share-button-container">
    <div data-balloon="tweet">
        <button class="social" data-network="twitter">twitter</button>
    </div>
    <div data-balloon="share">
        <button class="social" data-network="linkedin">linkedin</button>
    </div>
    <div data-balloon="post">
        <button class="social" data-network="facebook">facebook</button>
    </div>
</div>
{{/inline}}

{{#*inline "tags"}}
<div class="tags">
{{#each tags}}
    <span class="tag">{{ this }}</span>
{{/each}}
</div>
{{/inline}}

<div class="item-content">
    {{#if_not_eq type "about"}}
    <header>
    {{#if_eq type "project"}}
        <div class="item-content-icon {{ technology }}"></div>
    {{/if_eq}}
        <div class="item-title">
            <span class="title">{{ title }}</span>
            <span class="subtitle">
            {{#if_eq type "post"}}
                {{fromNow date }}
            {{else}}
                {{ subtitle }}
            {{/if_eq}}
            </span>
            {{#if_eq type "project"}}
            {{> tags}}
            {{/if_eq}}
        </div>
    </header>
    {{/if_not_eq}}
    {{#if_not_eq type "code"}}
        <div class="item-details">
        {{#each body}}
            {{{ this }}}
        {{/each}}
        {{#if_eq type "post"}}
            {{> share-buttons}}
        {{/if_eq}}
        </div>
    {{/if_not_eq}}
</div>
