<div class="item-content">
    <header>
    {{#if_eq type "project"}}
        <div class="item-content-icon {{ technology }}"></div>
    {{/if_eq}}
        <div class="item-title">
            <span class="title">{{ title }}</span>
            <span class="subtitle">
            {{#if_eq type "post"}}
                {{fromNow date }}
            {{else}}
                {{ subtitle }}
            {{/if_eq}}
            </span>
        </div>
    </header>
    {{#if_eq type "post"}}
        <div class="item-details">
        {{#each body}}
            <p>{{{ this }}}</p>
        {{/each}}
            <div class="share-button-container">
                <div data-balloon="tweet">
                    <button class="social" data-network="twitter">twitter</button>
                </div>
                <div data-balloon="share">
                    <button class="social" data-network="linkedin">linkedin</button>
                </div>
                <div data-balloon="post">
                    <button class="social" data-network="facebook">facebook</button>
                </div>
            </div>
        </div>
    {{/if_eq}}
</div>
